.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid var(--color-blog-2);
}
.navbar h1 {
  color: var(--color-blog-1);
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: var(--color-blog-1);
}
.new-blog {
  color: var(--color-blog-2);
  background-color: var(--color-blog-1);
  border-radius: 8px;
}
.new-blog:hover {
color: var(--color-blog-2) !important;
}
.navbar button{
  background: var(--color-blog-2) ;
  color:var(--color-blog-1) ;
  height: 2rem;
  width: 7rem;
  border-style: none;
}
