@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
:root {
  --color-blog-1: #f1356d;
  --color-blog-2: #f2f2f2;
}

.dark-theme {
  --color-blog-1: #111111;
  --color-blog-2: #f2f2f2;
}
